#### üß† What Is SQL?

**SQL** stands for **Structured Query Language**, and it's used to:

* **Retrieve** data from databases
* **Filter**, **aggregate**, and **sort** data
* Perform **calculations**, **joins**, and **subqueries**

---

#### üìò Course Breakdown

Here‚Äôs what each lesson covers:

---

#### 1. **Getting Started with SQL**

* Understand basic SQL structure: `SELECT`, `FROM`
* Learn to select specific columns
* View results of simple queries

```sql
SELECT name, population
FROM world_population;
```

---

#### 2. **SELECT, FROM, WHERE**

* Filter rows using the `WHERE` clause
* Use comparison operators like `=`, `>`, `<`, `LIKE`, `IN`

```sql
SELECT name
FROM countries
WHERE population > 100000000;
```

---

#### 3. **GROUP BY, HAVING, COUNT**

* Group rows using `GROUP BY`
* Aggregate data using `COUNT()`, `SUM()`, `AVG()`
* Filter grouped results with `HAVING`

```sql
SELECT continent, COUNT(*) AS country_count
FROM countries
GROUP BY continent
HAVING COUNT(*) > 10;
```

---

#### 4. **ORDER BY**

* Sort results using `ORDER BY`
* Use `ASC` (ascending) or `DESC` (descending)

```sql
SELECT name, population
FROM countries
ORDER BY population DESC;
```

---

#### 5. **AS and WITH**

* Use `AS` to rename columns or tables (aliasing)
* Use `WITH` to write **temporary tables** (Common Table Expressions - CTEs)

```sql
WITH top_countries AS (
    SELECT name, population
    FROM countries
    ORDER BY population DESC
    LIMIT 5
)
SELECT *
FROM top_countries;
```

---

#### 6. **JOINs and UNIONs**

* Combine data from multiple tables using:

  * `INNER JOIN`
  * `LEFT JOIN`
  * `UNION`

```sql
SELECT employees.name, departments.name
FROM employees
INNER JOIN departments
ON employees.dept_id = departments.id;
```

---

#### 7. **Nested Queries and Subqueries**

* Use **subqueries** inside `SELECT`, `FROM`, or `WHERE`
* Useful for filtering based on aggregated or derived values

```sql
SELECT name
FROM countries
WHERE population > (
    SELECT AVG(population)
    FROM countries
);
```

---

#### 8. **Review and Practice**

* Real-world examples and mini-projects
* Practice combining all your SQL skills:

  * Filtering, grouping, joining, and subqueries

---

#### üõ†Ô∏è Tools Used

* **BigQuery** (Google's cloud-based SQL engine)
* **Kaggle Notebooks** with SQL cells (no setup required)
* Public datasets like:

  * World population
  * Hacker News posts
  * Stack Overflow data

---

#### ‚úÖ Skills You'll Gain

* Query and explore large datasets
* Perform aggregations and calculate statistics
* Join multiple tables
* Use subqueries and CTEs for complex queries