#### ðŸ§  What Is SQL?

**SQL** stands for **Structured Query Language**, and it's used to:

* **Retrieve** data from databases
* **Filter**, **aggregate**, and **sort** data
* Perform **calculations**, **joins**, and **subqueries**
---

#### 1. **Getting Started with SQL**

* Understand basic SQL structure: `SELECT`, `FROM`
* Learn to select specific columns
* View results of simple queries

```sql
SELECT name, population
FROM world_population;
```
---

#### 2. **SELECT, FROM, WHERE**

* Filter rows using the `WHERE` clause
* Use comparison operators like `=`, `>`, `<`, `LIKE`, `IN`

```sql
SELECT name
FROM countries
WHERE population > 100000000;
```
---

#### 3. **GROUP BY, HAVING, COUNT**

* Group rows using `GROUP BY`
* Aggregate data using `COUNT()`, `SUM()`, `AVG()`
* Filter grouped results with `HAVING`

```sql
SELECT continent, COUNT(*) AS country_count
FROM countries
GROUP BY continent
HAVING COUNT(*) > 10;
```
---

#### 4. **ORDER BY**

* Sort results using `ORDER BY`
* Use `ASC` (ascending) or `DESC` (descending)

```sql
SELECT name, population
FROM countries
ORDER BY population DESC;
```

---

#### 5. **AS and WITH**

* Use `AS` to rename columns or tables (aliasing)
* Use `WITH` to write **temporary tables** (Common Table Expressions - CTEs)

```sql
WITH top_countries AS (
    SELECT name, population
    FROM countries
    ORDER BY population DESC
    LIMIT 5
)
SELECT *
FROM top_countries;
```
---

#### 6. **JOINs and UNIONs**

* Combine data from multiple tables using:

  * `INNER JOIN`
  * `LEFT JOIN`
  * `UNION`

```sql
SELECT employees.name, departments.name
FROM employees
INNER JOIN departments
ON employees.dept_id = departments.id;
```
---

#### 7. **Nested Queries and Subqueries**

* Use **subqueries** inside `SELECT`, `FROM`, or `WHERE`
* Useful for filtering based on aggregated or derived values

```sql
SELECT name
FROM countries
WHERE population > (
    SELECT AVG(population)
    FROM countries
);
```
---
#### âœ… Skills You'll Gain

* Query and explore large datasets
* Perform aggregations and calculate statistics
* Join multiple tables
* Use subqueries and CTEs for complex queries

* **WITH Example (CTE - Common Table Expressions)**
```sql
WITH top_countries  AS (
    select name, population, gdp 
    from countries 
    order by gdp desc 
    limit 5
)
select * from top_countries
```

* **Sub Query Example**
```sql
select name, population from country where gdp in (select distinct(gdp) from country order by gdp desc limit 5 )
```

```sql
select student.name, school.name from student, school where student.id = school.id
select student.name, school.name from student inner join school on student.id = school.id
```

```sql
select total_marks, count(*) as pass_count 
from student
group by total_marks
having total_marks > 300
```
```sql
select ename, salary, dept_id, count(*) as high_salary_count 
from dept
group by ename, salary, dept_id
having salary > 30000
```